* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("images/background.jpg");
  background-position: center;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: hidden;
}

.container {
  width: 25rem;
  position: relative;
  height: 150px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 16px;
  color: #fff;
  transition: height 0.6s ease-in-out;
  overflow: hidden;
}

.search-box {
  width: 100%;
  height: 55px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.search-box input {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  padding: 0 48px 0 42px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  border-radius: 10px;
}

.search-box input::placeholder {
  color: #ccc;
  font-size: 16px;
}

.search-box .map {
  font-size: 28px;
  left: 10px;
  position: absolute;
}

.search-box .search {
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  font-size: 28px;
  padding: 0 40px 0 5px;
  color: #fff;
  cursor: pointer;
}

/* weather box */

.weather-box {
  text-align: center;
}

.weather-box img {
  width: 60%;
}

.weather-box .temprature {
  font-size: 64px;
  font-weight: 700;
  position: relative;
  line-height: 1;
  margin: 20px 0 6px -30px;
}

.weather-box span {
  position: absolute;
  margin-left: 5px;
  font-size: 24px;
}

.weather-box .description {
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-detail {
  position: absolute;
  bottom: 40px;
  padding: 0 20px;
  left: 0;
  display: flex;
  width: 100%;
}

.weather-detail .humidity,
.weather-detail .wind {
  width: 50%;
  display: flex;
  align-items: center;
}

.weather-detail .humidity {
  padding-left: 20px;
  justify-content: flex-start;
}

.weather-detail .wind {
  padding-right: 20px;
  justify-content: flex-end;
}

.weather-detail .humidity span {
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
}

.weather-detail i {
  font-size: 56px;
  margin-right: 10px;
}

.weather-detail .humidity p {
  font-size: 14px;
  font-weight: 500;
}

.weather-box .box,
.not-found .box {
  transform: translateY(-100%);
}

/* Active class styles*/

.weather-box.active .box,
.not-found.active .box {
  transform: translateY(0%);
  transition: transform 0.6s ease-in-out;
  transition-delay: 0.5s;
}

.weather-detail .humidity .info-humidity,
.weather-detail .wind .info-wind {
  transform: translateY(-1000%);
  overflow: hidden;
}

.weather-box .box .info-weather {
  transform: translateY(-120%);
}
.container.active .weather-box .box .info-weather,
.container.active .weather-detail .humidity .info-humidity,
.container.active .weather-detail .wind .info-wind {
  transform: translateY(0%);
  transition: transform 1s ease-in-out;
}

/* ******************************************* */
.weather-detail .humidity,
.weather-detail .wind {
  transform: translateY(-100%);
}

.weather-detail.active .humidity,
.weather-detail.active .wind {
  transform: translateY(0%);
  transition: transform 0.6s ease-in-out;
  transition-delay: 0.5s;
}

/* Not found location */

.weather-box,
.weather-detail,
.not-found {
  visibility: hidden;
  overflow: hidden;
}

.weather-box.active,
.weather-detail.active,
.not-found.active {
  visibility: visible;
}

.not-found {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 30%;
}

.not-found img {
  width: 65%;
}

.not-found p {
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
}

.city-hide {
  display: none;
}

#clone-info-weather,
#clone-info-humidity,
#clone-info-wind {
  position: absolute;
  transform: translateY(-100%);
}

#clone-info-weather .weather {
  transform: translateY(120%);
  transition: transform 1s ease-in-out, opacity 0s;
  transition-delay: 0s, 2s;
}

.weather-box:not(.active) #clone-info-weather .weather {
  opacity: 0;
  transition-delay: 0s;
}

.active-clone#clone-info-weather .weather {
  transform: translateY(0%);
}

#clone-info-humidity span,
#clone-info-wind span {
  transform: translateY(100%);
  transition: transform 1s ease-in-out;
}

.active-clone#clone-info-humidity span,
.active-clone#clone-info-wind span {
  transform: translateY(0%);
}

/* responsive Design */

@media screen and (max-width: 998px) {
  .container {
    width: 20rem;
  }

  .weather-detail {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .humidity {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .weather-detail .humidity {
    justify-content: stretch;
    padding-left: 0;
  }

  .wind {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .weather-detail {
    gap: 20px;
  }
}
